.bottom-space {
   margin-bottom: 1em;
}

.panel-topic:hover {
   background-color: #90ffd0;
}

.panel-question:hover {
   background-color: #90ffd0;
}

.nav-nyk li a:hover {
   background-color: #90ffd0;
}
