<div class="panel panel-default panel-question" ng-click="questionClicked();">
   <div class="panel-body">

      <div class="row">
         <div class="col-xs-4 col-md-2 col-lg-1">
            <nyk-reaction reaction="question" type="q" on-react="reactToQuestion"></nyk-reaction>
         </div>
         <div class="col-xs-8 col-md-7 col-lg-8">
            <h3>{{ question.text }}</h3>
         </div>
         <div class="col-xs-12 col-md-3">
            <table class="table table-question-details">
               <tr ng-if="question.topic">
                  <td>topic </td>
                  <td>{{ question.topic.name }}</td>
               </tr>
               <tr>
                  <td>asked </td>
                  <td>{{ question.whenAsked | date:'H:mm:ss dd MMM yyyy' }}</td>
               </tr>
            </table>
         </div>
      </div>

   </div>
</div>
