<div class="container-fluid">
   <div class="row">
      <div class="col-xs-12">
         <div>
            <p>Now You Know is a website that allows asking and answering questions anonymously.</p>
            <p>These questions can be of any complexity, but short and simple questions will receive the best answers.</p>
            <p>A key feature of Now You Know is the anonymous activity. This means that chaos reigns supreme on this domain.</p>
            <p>Trust nothing!</p>
         </div>

         <hr />

         <button type="button" class="btn btn-danger" ng-click="nuke();">
            <span class="glyphicon glyphicon-erase"></span> NUKE
         </button>
      </div>
   </div>
</div>
