<div class="container-fluid">
   <div class="row">
      <div class="col-xs-12">

         <button type="button" class="btn btn-default" ng-click="refresh();">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
         </button>

         <div ng-if="question">
            <h2>{{ question.text }}</h2>
         </div>
         <div ng-if="!question">
            <div class="alert alert-danger">
               <p>Could not find a question. Try again later!</p>
            </div>
         </div>

      </div>
   </div>
</div>
