<div class="container-fluid">
   <div class="row">
      <div class="col-xs-12">

         <nyk-topic topic="topic"></nyk-topic>

         <button type="button" class="btn btn-success" ng-click="askQuestion();">
            <span class="glyphicon glyphicon-question-sign"></span> Ask
         </button>

         <!-- <button type="button" class="btn btn-danger" ng-click="deleteTopic(topic.id);">
            <span class="glyphicon glyphicon-trash"></span> Delete
         </button> -->

      </div>
   </div>
</div>
